body{
    margin: 0;
    font-family: sans-serif;
    background-color: #252630;
}

header{
    display: flex;
    text-align: center;
}

h1{
    font-size: 11.5vw;
    height: 10vh;
    width: 100%;
    z-index: 3 !important;
    background-color: white;
    margin: 0;
}

aside{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    transform: translateY(-95%);
    transition: 0.5s cubic-bezier(.95,-0.33,1,1.01);
}

.showSettings{
    transform: translateY(-5%);
}

aside > div{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

aside input{
    width: 24.5vw;
}

#upAndDown{
    width: 25vw;
    height: 25px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    align-self: center;
}

#upAndDown::after{
    content: '';
    width: 50%;
    height: 5px;
    border-radius: 50px;
    background-color: rgb(189, 189, 189);
}

#actualGame{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100vw;
    height: 90vh;
}

table{
    height: 90vw;
    width: 90vw;
    background-color: white;
    font-size: 20vw;
}

th{
    background-color: #252630;
    width: 33.3%;
    height: 33.3%;
}

.scoreTable{
    width: 35vw;
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    border: solid 2px white;
    font-size: 20pt;
}

.scoreTable::before ,.scoreTable::after {
    padding: 5px;
    background-color: rgb(255, 42, 42);
    display: flex;
    margin: 0 8vw;
    font-size: 10pt;
}

.scoreTable::before{
    content: 'Player1';
}

.scoreTable::after{
    content: 'Player2';
}

.points{
    padding: 2px;
    font-size: 20pt;

}



/* SHOW MODAL IOS ONLY */
#iosAlertBoxWebApp{
    position: absolute;
    bottom: -8vh;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    opacity: 0;
    display: none;
}

#plusSquare{
    margin-right: 5px;
    border-radius: 10px;
    background-color: gray;
    width: 7vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plusSquare :nth-child(1){
    background-color: white;
    width: 6vh;
    height: 5px;
    margin-left: 5px;
}

#plusSquare :nth-child(2){
    background-color: white;
    width: 5px;
    height: 6vh;
    transform: translateX(-3vh)
}

#iosAlertBoxWebApp::after{
    content: '';
    align-self: center;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid lightgray;
}

#actualContent{
    height: 8vh;
    width: 95vw;
    padding: 5px;
    font-size: 4.25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
}

#actualContent span{
    width: 90%;
}

@keyframes showiOSModal{
    10%, 90%{
        transform: translateY(-16vh);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
    }
}
/* ^ MODAL IOS ^ */