body{
    margin: 0;
    font-family: sans-serif;
    background-color: #252630;
}

header{
    display: flex;
    text-align: center;
}

h1{
    font-size: 11.5vw;
    height: 10vh;
    width: 100%;
    z-index: 5 !important;
    background-color: white;
}

h3{
    font-size: 9.5vw;
    border-bottom: solid 5px black;
    letter-spacing: 1px;
    padding: 1px;
}

h4,h5{
    font-size: 6vw;
}

h5{

}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

aside{
    display: flex;
    position: absolute;
    width: 100vw;
    height: 65vh;
    flex-direction: column;
    transform: translateY(-90%);
    transition: 0.5s cubic-bezier(.95,-0.33,1,1.01);
    z-index: 3 !important;
}

.showSettings{
    transform: translateY(-5%);
}

.blurTableGame{
    filter: blur(10px);
}

.shake{
    transform: translateX(0);
}

@keyframes shake{
    20%{
        transform: translateX(5%);
    }
    40%{
        transform: translateX(-5%);
    }
    60%{
        transform: translateX(5%);
    }
    80%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0%);
    }
}

aside > div{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

.symbolsInput div{
    padding: 2px;
    font-size: 5.5vw;
}

aside input{
    padding: 2px;
    width: 6vw;
    font-size: 4.5vw;
}

.roundBtn{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.roundBtn > div{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    width: 100%;
}

.roundBtn button{
    width: 15vw;
    height: 15vw;
    background-color: white;
    margin: 0;
    border: solid 0.5px lightgray;
    font-size: 6vw;
    /* border-radius: 10px; */
}

.cpuDiv{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
}

/* SWITCH CPU BUTTON */
.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #EEEEEE; color: #000000;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EEEEEE; color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 3px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border: 2px solid #999999; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #27A1CA; 
}
/* ---------------- */

.applyChanges{
    width: 50%;
    border-radius: 10px;
    padding: 5px;
}

#upAndDown{
    width: 25vw;
    height: 25px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    align-self: center;
}

#upAndDown::after{
    content: '';
    width: 50%;
    height: 5px;
    border-radius: 50px;
    background-color: rgb(189, 189, 189);
}

#actualGame{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    width: 100vw;
    height: 90vh;
    transition: 0.25s ease-in;
}

table{
    height: 90vw;
    width: 90vw;
    background-color: white;
    font-size: 20vw;
}

tr{
    background-color: #252630;
}

th{
    width: 33.3%;
    height: 33.3%;
}

.scoreTable{
    width: 35vw;
    padding: 10px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    border: solid 2px white;
    font-size: 20pt;
}

.scoreTable::before ,.scoreTable::after {
    padding: 5px;
    background-color: rgb(255, 42, 42);
    display: flex;
    margin: 0 8vw;
    font-size: 10pt;
}

.scoreTable::before{
    content: 'Player1';
}

.scoreTable::after{
    content: 'Player2';
}

.points{
    padding: 2px;
    font-size: 20pt;

}



/* SHOW MODAL IOS ONLY */
#iosAlertBoxWebApp{
    position: absolute;
    bottom: -8vh;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    opacity: 0;
    display: none;
}

#plusSquare{
    margin-right: 5px;
    border-radius: 10px;
    background-color: gray;
    width: 7vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#plusSquare :nth-child(1){
    background-color: white;
    width: 6vh;
    height: 5px;
    margin-left: 5px;
}

#plusSquare :nth-child(2){
    background-color: white;
    width: 5px;
    height: 6vh;
    transform: translateX(-3vh)
}

#iosAlertBoxWebApp::after{
    content: '';
    align-self: center;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid lightgray;
}

#actualContent{
    height: 8vh;
    width: 95vw;
    padding: 5px;
    font-size: 4.25vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    border-radius: 10px;
}

#actualContent span{
    width: 90%;
}

@keyframes showiOSModal{
    10%, 90%{
        transform: translateY(-16vh);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
    }
}
/* ^ MODAL IOS ^ */